button {
   height: 3.5rem; 
  transition: 0.4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover{
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
}


